<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json",
            user: current_user
        ).html_safe %>
    </script>
<% end %>
<main id="root"></main>
