@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}


.nav-image {
    
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-resize {
  max-width: 300px;
  max-height: 50px;
}

.nav-image:hover {
    color: azure;
    cursor: pointer;
}

#burger-container {
  padding-left: 0px;
  margin-left: -19px;
  display: inline-flex;
  justify-content: space-evenly;
}

.browse-button {
  font-size: 18px;
  margin-top: 13px;
}

.browse-button:hover {
  color: azure;
  cursor: pointer;
}

#browse-bar {
  font-size: 18px;
  padding-top: 18px;
  padding-right: 15px;
}

#browse-bar:hover {
  color:azure;
  cursor: pointer;
}


