.slide-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-top: 200px;
    margin-left: 90px;
}

.slide-title {
    color: azure;
    font-size: 20px;
    margin-bottom: 20px;
}