.content-index-button {
    color: lightgrey;
    background-color: transparent;
    border: none;
    padding-left: 0;
    margin: 20px 30px 20px 0;
    text-transform: none;
    font-size: 18px;
    // margin: 0 10px 0 10px;
    padding-right: 5px;
}

.content-index-button:hover {
    color: azure;
    cursor: pointer;
}

.content-index-button:focus {
    outline: none;
}
