.content-index-button {
    color: lightgrey;
    background-color: transparent;
    border: none;
    padding-left: 0;
    margin: 20px 30px 20px 0;
    text-transform: none;
    font-size: 18px;
    // margin: 0 10px 0 10px;
    padding-right: 5px;
}

.content-index-button:hover {
    color: azure;
    cursor: pointer;
}

.content-index-button:focus {
    outline: none;
}

.carousel-index-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.index-title {
    margin-left: 66px;
    margin-top: 60px;
    padding-bottom: 5px;
    font-size: 47px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 56px; 
    letter-spacing: -1.2px; 
    color: azure;
    padding-left: 13px;
}

.index-header {
    margin-left: 83px;
    margin-top: 0px;
    padding-bottom: 5px;
    font-size: 47px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 56px; 
    letter-spacing: -1.2px; 
    color: azure;
    padding-left: 2px;
}

.movie-index-list  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    width: 90%;
    height: 100%;
    padding-left: 0px;
    margin-left: 81px;
}

#action-index, #comedy-index, #drama-index, #romance-index {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    width: 90%;
    height: 100%;
    padding-left: 0px;
    margin-left: 81px;
}

 