.fa-search {
    font-size: 15px;
    padding-top: 18px;
    padding-right: 15px;
}

.fa-search:hover {
    color: azure;
    cursor: pointer;
}

.search-button {
    display: flex;
    text-align: center;
    font-family: 'Street 2';
}

.search-button:hover {
    color: azure;
    cursor: pointer;
}

.search-title {
    padding-top: 0px;
    margin-top: 13px;
    font-size: 15px;
}

#search-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
}

#search-button-container {
    margin-top: 0px;
}

.search-result-lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 80%;
    height: 100%;
    padding-left: 0px;
    margin-left: 0px;
}

.index-navbar {
    position: sticky;
    top: 136px;
    padding-left: 30px;
}

.search-result-counter {
    margin-top: 20px;
    color: azure;
}

.search-result-item-container {
    width: 374px; 
    // height: 279px; 
    padding-bottom: 10px;
    overflow: hidden;
    color: azure;
}

.search-result-image {
    background-size: 100% 100%; 
    height: 210px; 
    width: 374px; 
    
}

.search-result-image:hover {
    cursor: pointer;
}

.index-item-thumbnail {
    height: 100%;
    width: 100%;
    border: black;
}

.index-item-title {
    padding-top: 8px;
}



.search-container {
    margin-top: 100px;
    margin-left: 30px;
}

.search-input {
    border: 0px; 
    padding: 0px 40px 3px 10px; 
    font-size: 15px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 19px; 
    letter-spacing: 0px; 
    color: rgb(15, 15, 15); 
    box-sizing: border-box; 
    width: 500px; 
    height: 31px; 
    background-color: rgb(240, 240, 240);
    border: none;
}

.search-input:focus {
    outline: none;
}



.section {
    margin-top: 30px;
    margin-left: 65px;
}