.fa-search {
    font-size: 18px;
    padding-top: 20px;
    padding-right: 15px;
}

.fa-search:hover {
    color: azure;
    cursor: pointer;
}

.search-button {
    font-size: 18px;
    margin-top: 13px;
}

.search-button:hover {
    color: azure;
    cursor: pointer;
}

#search-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
}

.search-result-lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 190px;
    width: 90%;
    height: 100%;
    padding-left: 30px;
    margin-left: 62px;
}

.index-navbar {
    position: sticky;
    top: 136px;
    padding-left: 30px;
}

.search-result-counter {
    margin-top: 20px;
    color: azure;
}

.search-result-item-container {
    width: 280px; 
    height: 258px; 
    overflow: hidden;
    color: azure;
}

.search-result-image {
    background-size: 100% 100%; 
    height: 158px; 
    width: 280px; 
    
}

.search-result-image:hover {
    cursor: pointer;
}

.index-item-thumbnail {
    height: 100%;
    width: 100%;
    border: black;
}

.index-item-title {
    padding-top: 20px;
}

.index-header {
    margin-left: 88px;
    margin-top: 50px;
    padding-bottom: 5px;
    font-size: 47px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 56px; 
    letter-spacing: -1.2px; 
    color: azure;
    padding-left: 30px;
}