#container, .carousel {
	max-height:700px;
	margin: 0 auto;
	max-width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.carousel:hover {
	cursor: pointer;
}

.image-slide {
	height: 100%;
	width: 90%;
	transition: background-image .3s ease-in-out;
}

.fa-chevron-left, .fa-chevron-right {
	color: rgba(245, 238, 238, 0.5);
	font-size: 5rem;
	position: absolute;
	top: 50%;
}

.fa-chevron-left:hover {
	color: azure;
	cursor: pointer;
}

.fa-chevron-right:hover {
	color: azure;
	cursor: pointer;
}

.fa-chevron-right {
	right: 6rem;
}

.fa-chevron-left {
	left: 6rem;
}

.slide-title {
	padding-top: 800px;
    padding-left: 29px;
    color: white;
    font-family: "Open sans";
    font-size: 40px;
}