// // Place all the styles related to the StaticPages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: image-url('splash_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    width: 1461px; 
    height: 969px; 
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.main-body {
    background-image: none;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    width: 1461px; 
    height: 969px; 
    position: fixed;
    clear: both;
}

.modal-child {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(25, 25, 25);
  margin: 20px;
  padding: 20px;
  width: 475px;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 26px;
    letter-spacing: 0px;
    color: azure;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.modal-sub-header {
    color: azure;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
}

.close-x {
    top: 205px;
    width: 25px;
    height: 25px;
    left: 710px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: azure;
    cursor: pointer;
    align-self: flex-end;
}

.close-x:hover {
    color: rgb(54, 167, 224);
}

.nav-header {
    display: flex;
    justify-content: flex-end;
}

.login-signup {
    padding: 15px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    font-family: 'Open Sans', sans-serif;
    margin: 35px auto;
}

.login-label {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: lightgray;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin: 35px auto;
    width: 338px;
    height: 34px;
}

.login-input {
    display: block;
    font-size: 24px;
    box-sizing: border-box;
    width: 338px;
    margin: 35px auto;
    margin-top: 10px;
    height: 34px;
    border: none;
// }
}

.login-button {
    display: block;
    background-color: rgb(28, 59, 73);
    font-size: 24px;
    box-sizing: border-box;
    color: lightgray;
    cursor: pointer;
    margin: 35px auto;
    width: 338px;
    height: 39px;
    border: none;
    margin-bottom: 10px;
    text-align: center
}
// }

.login-button:hover {
    color: rgb(54, 167, 224);
}


.header-button:hover {
    color: rgb(54, 167, 224);
}

.splash-sign-up-container {
    width: 293px; 
    height: 48px; 
    cursor: pointer; 
    color: rgb(41, 121, 162); 
    background-color: transparent;
    left: 1px; 
    top: 191px;
}

.splash-content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: azure;
    width: 1411px; 
    height: 809px; 
    left: 50px; 
    top: 50px;
    
}

.splash-content-container > div {
    margin: 20px;
}

.splash-content-container > h1 {
    margin: 20px;
} 

.splash-header {
    width: 350px; 
    height: 31px; 
    left: 50px; 
    top: 50px;
    font-size: 38px;
    background-size: 100% 100%;
}

.splash-sub-header {
    width: 350px; 
    height: 31px; 
    left: 50px; 
    top: 20px;
    font-size: 48px;
    background-size: 100% 100%;
}

.splash-pitch { 
    display: inline-block;  
    font-size: 18px;
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 27px; 
    color: azure;
    width: 430px; 
    top: 72px;
}

.splash-sign-in-container {
    display: inline-block;  
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: none; 
    line-height: 27px; 
    letter-spacing: 0px; 
    color: azure; 
    white-space: pre; 
    transform: translate(0px, 0px)
}

.splash-sign-up-button {
    font-family: inherit; 
    font-size: 16px; 
    font-style: normal; 
    text-decoration: none; 
    text-transform: uppercase; 
    line-height: 20px; 
    letter-spacing: 0.5px; 
    color: azure;
    background-color: rgb(41, 121, 162);
    border: none;
    height: 100%;
    width: 100%;
}

.splash-sign-up-button:hover {
    color: rgb(54, 167, 224);
    cursor: pointer;
}

.splash-sign-in-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 27px;
    letter-spacing: 0px;
    color: rgb(41, 121, 162);
    background-color: transparent; 
    border: none;
    text-align: center;
}

.splash-sign-in-button:hover {
    color: rgb(54, 167, 224);
    cursor: pointer;
}

.modal-button {
    color: azure;
    padding: 20px;
    margin: 25px;
}

.modal-switch {
    font-family: 'Open Sans', sans-serif;
    color: lightgrey;
    background-color: transparent;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.modal-switch:hover {
    color: rgb(54, 167, 224);
}

a {
    text-decoration: none;
}

.errors {
    color: red;
    font-size: 18px;
}

li {
    list-style: none;
}